* {
    font-size: 20px;
    font-weight: bold;
}

window#waybar {
    background-color: rgba(43, 48, 59, 0.5);
    border-bottom: 2px solid rgba(100, 114, 125, 0.5);
    color: #ffffff;
    transition-property: background-color;
    transition-duration: .5s;
}

#pulseaudio,
#network,
#battery {
    margin: 10px;
}

#battery.charging {
    color: #21ef5f;
}

#battery.discharging.warning {
    color: #fe8;
}

#battery.discharging.critical {
    color: #ef2f21;
}


